{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
    <link rel="stylesheet" href="{% static 'css/booking.css' %}" />
</head>

<body>
 
    {% if success %}
        <p style="color: green;">{{ success }}</p>
    {% endif %}
    
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <p><a href="{% url 'home' %}">Go to Home Page</a></p>
   
</body>

</html>
